<header>
  <a href="{{ relref . "/" }}">
    {{- partial "pfp.html" . -}}
    <h1>
      {{- .Site.Title -}}
    </h1>
  </a>
  <nav>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.nav -}}
        {{ if $currentPage.IsMenuCurrent "nav" . -}}
          <li class="active">
            {{- .Name -}}
          </li>
        {{ else -}}
          <li>
            <a href="{{ .URL }}">
              {{- .Name -}}
            </a>
          </li>
        {{ end -}}
      {{ end -}}
    </ul>
  </nav>
</header>
